<div class="col">
  <%@products.each do |p| %>
    <div class="card w-25 d-inline-block m-5">
      <div class="card img bg-light", style="height:300px">
      </div>
      <div class="card-body">
        <div class="card-title text-truncate h4">
          <%=link_to "#{p.p_name}", product_path(p.id), 
                      class:'text-decoration-none text-uppercase stretched-link'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
